
<footer id="contact">
    <a href="https://www.linkedin.com/in/ronit-khajuria-394609228/" target="_blank"><i class="fa-brands fa-linkedin fa-2x fa-light"></i></a>
    <a href="https://www.instagram.com/just_ronit__/" target="_blank"><i class="fa-brands fa-instagram fa-2x fa-light"></i></a>
    <a href="https://twitter.com/btwitsronit" target="_blank"><i class="fa-brands fa-twitter fa-2x fa-light"></i></a>
    <a href="mailto:btwitsronit@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-2x fa-light"></i></a>
    <p class="copyright">Copyright &copy; Ronit <%=new Date().getFullYear()%></p>
</footer>
</body>

</html>
