
<footer>
    <a href=""><i class="fa-brands fa-linkedin fa-2x fa-dark"></i></a>
    <a href=""><i class="fa-brands fa-instagram fa-2x fa-dark"></i></a>
    <a href=""><i class="fa-brands fa-twitter fa-2x fa-dark"></i></a>
    <a href=""><i class="fa-solid fa-envelope fa-2x fa-dark"></i></a>
</footer>
</body>

</html>
