<%- include('partials/header') %>

<div class="failed">
    <h1 class="display-3">OOPS! GOT A TROUBLE</h1>
    <p class="login-failed secret-text-display">Looks like you are not a existing user !</p>
    <p class="login-failed secret-text-display">Register now from here or try again</p>
    <a class="btn-register" href="/register">Register</a>
    <a class="btn-register" href="/login">Try again</a>
    <p class="secret-text-display">If you are having trouble logging in or signing up please contact the Developer here</p>
    <a class="btn-register" href="mailto:btwitsronit@gmail.com">Contact</a>
</div>

<%- include('partials/footer') %>
