<%- include('partials/header') %>
<%- include('partials/nav') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-key fa-flip fa-8x fa-light"></i>
    <h1 class="heading">Secrets</h1>
    <p class="user-Screen">Don't keep your secrets, share them anonymously for Fun!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
