<%- include('partials/header') %>

  <div class="container mt-5">
    <h1 class="heading-login">Login</h1>

    <div class="row">

      <div class="card-login">
        <div class="card-body-login-1">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <input type="email" class="form-control" name="username" placeholder="Enter your email" required>
            <input type="password" placeholder="Password" class="form-control" name="password" required>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
      
    </div>
  </div>
  <div class="btn-google">
    <a class="btn-google-btn" href="/auth/google" role="button">
      <i class="fab fa-google "></i>
      Sign In with Google
    </a>
  </div>

  <%- include('partials/footer') %>