<%- include('partials/header') %>

<div class="container mt-5">
  <h1 class="heading-login">Register</h1>

  <div class="row">
    
      <div class="card-login">
        <div class="card-body-login-1">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
              <input type="email" class="form-control" name="username" placeholder="Enter your email" required>
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>

  </div>
</div>

<div class="btn-google">
  <a class="btn-google-btn" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign Up with Google
  </a>
</div>



<%- include('partials/footer') %>
